<html lang="en"><head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>STABLE FUND</title>
	
</head>


<body style="margin: 0px auto;" cz-shortcut-listen="true">
  <div style="width:816px;background: #ffffff;/* padding: 0px 43px; */margin: 0px auto;">
	<!-- Header -->
	
	<div class="headerIMG">
        <img src="http://127.0.0.1:5500/media-upload/mediaFiles/pdftemplate/c2caabb63ee79f775a8b444cb2f6e9b2.png" style="width: 100%; height: 130px;" alt="">
    </div>
        <div class="logo" style="text-align: center; ">
            <img src="http://127.0.0.1:5500/media-upload/mediaFiles/pdftemplate/7699bc7c1fb9cf1dc2f1106ee2ab16817.png" alt="">
        </div>
	<!--  section 2 User Data-->
	<div class="userData">
		<h2 style="text-align: center; padding-top:50px; font-family:sans-serif ;font-weight:500; font-size:12px;line-height:12px;color:#5B5B5B ">Created on Thu May 12 2022 for wallet named:</h2>
		<h1 style="text-align: center; padding-top:10px; font-family:sans-serif ;font-weight:600; font-size:16px;line-height:12px;color:#1B2023 ">Majeed</h1>
		<p style="text-align: center; padding-top:25px; font-family:sans-serif ;font-weight:400; font-size:12px;line-height:12px;color:#FF0101">Print this document, or keep it securely offline</p>
	</div>
	<!-- QR scaner 1 -->
  <div class="scanner">
	<div class="qrScan" style="display:flex;/* justify-content: center; */ padding-top:30px; margin: 0px auto; width:600px;">
		<div class="qr" style=""> <img src="http://127.0.0.1:5500/media-upload/mediaFiles/pdftemplate/adcc6410a607faccf106a07267675c75cc.png" style="height:80px; width:80px;" alt=""> </div>
		<div class="qrText" style="padding-left: 20px; word-wrap: break-word;">
			<h2 style="font-family:sans-serif;font-size:14px;font-weight:600;line-height:14px;color:#1B2023">Private Key</h2>
			<p style="font-family:sans-serif;font-size:12px;font-weight:400;line-height:14px;color:#484848">This is your private key.</p>
			<p style="font-family:sans-serif;font-size:14px;font-weight:400;line-height:14px;color:#1B2023">0x6cea3b17864d33ce2e266351703daawdws47f2c9069ef1da2478f7324ad50f72</p>
		</div>
	</div>
	<!-- QR scaner 2 -->
	<div class="qrScan" style="display:flex;/* justify-content: center; */ padding-top:30px; margin: 0px auto; width:600px;">
		<div class="qr" style=""> <img src="http://127.0.0.1:5500/media-upload/mediaFiles/pdftemplate/adcc6410a607faccf106a07267675c75cc.png" style="height:80px; width:80px;" alt=""> </div>
		<div class="qrText" style="padding-left: 20px; word-wrap: break-word;">
			<h2 style="font-family:sans-serif;font-size:14px;font-weight:600;line-height:14px;color:#1B2023">Encryption Key</h2>
			<p style="font-family:sans-serif;font-size:12px;font-weight:400;line-height:14px;color:#484848">This is your encryption key which is used to encrypt and decrypt transactions on stablefund wallet. Keep it safe, as we will ask it on every login for security purpose.</p>
     <div class="row" style="margin:30px ;"> <span style="background:#F2F7FF; font: 16px;font-family: sans-serif; font-weight: 400; line-height: 12px; padding:7px 12px;text-align:center;border:10px; border-radius: 4px;">Primary</span>
      <span style="background:#F2F7FF; font: 16px;font-family: sans-serif; font-weight: 400; line-height: 12px; padding:7px 12px;text-align:center;border:10px; border-radius: 4px;margin-left: 30px;">Primary </span>
      <span style="background:#F2F7FF; font: 16px;font-family: sans-serif; font-weight: 400; line-height: 12px; padding:7px 12px;text-align:center;border:10px; border-radius: 4px;margin-left: 30px">Primary </span>
    </div>
      <div class="row" style="margin: 30px">
        <span style="background:#F2F7FF; font: 16px;font-family: sans-serif; font-weight: 400; line-height: 12px; padding:7px 12px;text-align:center;border:10px; border-radius: 4px;">Primary </span>
        <span style="background:#F2F7FF; font: 16px;font-family: sans-serif; font-weight: 400; line-height: 12px; padding:7px 12px;text-align:center;border:10px; border-radius: 4px; margin-left: 30px">Primary </span>
        <span style="background:#F2F7FF; font: 16px;font-family: sans-serif; font-weight: 400; line-height: 12px; padding:7px 12px;text-align:center;border:10px; border-radius: 4px;margin-left: 30px">Primary </span>
      </div>
		</div>
	</div>
	<!-- QR scaner 3 -->
	<div class="qrScan" style="display:flex;/* justify-content: center; */ padding-top:30px; margin: 0px auto; width:600px;">
		<div class="qr" style=""> <img src="http://127.0.0.1:5500/media-upload/mediaFiles/pdftemplate/adcc6410a607faccf106a07267675c75cc.png" style="height:80px; width:80px;" alt=""> </div>
		<div class="qrText" style="padding-left: 20px;">
			<h2 style="font-family:sans-serif;font-size:14px;font-weight:600;line-height:14px;color:#1B2023">Public Address:</h2>
			<p style="font-family:sans-serif;font-size:12px;font-weight:400;line-height:14px;color:#484848">This is your public address.</p>
			<p style="font-family:sans-serif;font-size:14px;font-weight:400;line-height:14px;color:#1B2023">0xa5C5591018dfE29365e7e80c70b76ADf611c1bEC</p>
		</div>
	</div>
</div>
	
	<div class="headerIMG">
        <img src="http://127.0.0.1:5500/media-upload/mediaFiles/pdftemplate/e2ca409bae9d27a39e9def2ad16ec10c4.png" style="width: 100%; height: 109px; padding-top:192px ;" alt="">
    </div>
</div>





</body></html>